
# Application Settings
APP_NAME="Remember"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://remember.test
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_GB
APP_MAINTENANCE_DRIVER=file
APP_VERSION=3.1.1

# Database Settings
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Password Hashing Settings
BCRYPT_ROUNDS=12

# Logging Settings
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Session Settings
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

# Cache and Queue Settings
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=gcs
QUEUE_CONNECTION=database
CACHE_STORE=redis
MEMCACHED_HOST=127.0.0.1

# Redis Settings
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

# Mail Settings
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_ENCRYPTION=null
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Vite Settings
VITE_APP_NAME="${APP_NAME}"
VITE_API_URL="/api"
VITE_API_TOKEN=

# Google Cloud Storage Settings
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_STORAGE_BUCKET=
GOOGLE_CLOUD_KEY_FILE=
